# fly.toml app configuration file generated for wallet-service-with-paystack-jwt-and-api-keys on 2025-12-09T22:49:11Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wallet-service-with-paystack-jwt-and-api-keys'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
